@import "../../scss/index.scss";
.service {
    display: flex;
    min-height: 100vh;
    .service_left {
    }
    .service_right {
        width: 100%;
        // background-color: #b1b1b1;
        position: relative;
        .service_right_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            margin-top: 29px;
            margin-left: 24px;
            margin-right: 24px;
            margin-bottom: 45px;
            height: 20px;
            .service_right_title {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 0px 8px;
                .service_right_title_1 {
                    color: #7e7d88;
                }
                .service_right_title_2 {
                    margin-left: 15px;
                }
                .service_right_title_3 {
                    color: #ff7506;
                    margin-left: 15px;
                }
            }
            .user {
                justify-content: flex-end;
                background-color: #ffff;
            }
        }
        .service_right_bottom {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: #ff7506;
            margin-left: 24px;
        }
        .service_right_add {
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 10px;
            justify-content: flex-end;
            color: #ff7506;
        }
        .service_right_content {
            .service_right_content_icon {
                margin-bottom: 16px;
                .service_right_content_icon_1 {
                    display: flex;
                    .service_right_content_icon_1_about {
                        margin-left: 24px;
                        .service_right_content_icon_1_title {
                            font-weight: bold;
                            margin-bottom: 4px;
                        }
                        .service_right_content_icon_1_nd {
                            .a {
                                width: 300px;
                                height: 44px;
                                border: 1.5px solid #d4d4d7;
                                box-sizing: border-box;
                                border-radius: 8px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                padding: 10px 12px;
                            }
                        }
                    }
                    .service_right_content_icon_2_about {
                        margin-left: 24px;
                        .service_right_content_icon_2_title {
                            font-weight: bold;
                            margin-bottom: 4px;
                        }
                        .service_right_content_icon_2_nd {
                            .a {
                                width: 150px;
                                height: 44px;
                                border: 1.5px solid #d4d4d7;
                                box-sizing: border-box;
                                border-radius: 8px;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                padding: 10px 12px;
                            }
                        }
                    }
                    .service_right_content_icon_3_about {
                        margin-left: 188px;
                        .service_right_content_icon_3_title {
                            font-weight: bold;
                            margin-bottom: 4px;
                        }
                        .service_right_content_icon_3_nd {
                            .a {
                                font-family: Nunito;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 24px;
                                color: #282739;

                                .input {
                                    width: 300px;
                                    height: 44px;
                                    border: 1.5px solid #d4d4d7;
                                    box-sizing: border-box;
                                    border-radius: 8px;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 10px 12px;
                                }
                            }
                        }
                    }
                }
            }
            .service_right_content_table {
                margin-left: 24px;
                .service_right_content_table_device {
                    .title {
                        background-color: #ff9138;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        color: #ffff;
                        height: 49px;
                    }
                    border-collapse: collapse;
                    width: 100%;
                    background-color: #fff2e7;
                    .redd {
                        color: red;
                    }
                    .gren {
                        margin-right: 4px;
                        color: #35c75a;
                    }
                    td {
                        padding: 15px;
                    }
                }
            }
        }
    }
}
