@import "../../scss/index.scss";
.deviceupdate {
    display: flex;
    min-height: 100vh;
    .deviceupdate_left {
    }
    .deviceupdate_right {
        width: 100%;
        position: relative;
        .deviceupdate_right_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            margin-top: 29px;
            margin-left: 24px;
            margin-right: 24px;
            margin-bottom: 45px;
            height: 20px;
            .deviceupdate_right_title {
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 0px 8px;
                color: #7e7d88;
                margin-left: 24px;
                padding: 29px;
                &_1 {
                }
                &_2 {
                    margin-left: 15px;
                }
                &_3 {
                    margin-left: 15px;
                }
                &_4 {
                    margin-left: 15px;
                }
                &_5 {
                    color: #ff7506;
                    margin-left: 15px;
                }
            }
            .user {
                justify-content: flex-end;
            }
        }
        .deviceupdate_right_bottom {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: #ff7506;
            margin-left: 24px;
        }
        .deviceupdate_input_title {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #ff7506;
            margin-top: 28px;
            margin-left: 48px;
            margin-bottom: 15px;
        }
        .deviceupdate_input {
            .deviceupdate_input_about {
                width: 1112px;
                height: 397px;
                background-color: #fff;
                border-radius: 8px;
                justify-content: space-between;
                display: flex;
                padding: 40px 24px;
                margin-left: 48px;
                input {
                    @include input_2;
                    background-color: #eaeaec;
                    align-items: center;
                }
                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #282739;
                }
                .deviceupdate_input_left {
                }
                .deviceupdate_input_right {
                }
                .deviceupdate_input_bottom {
                    position: absolute;
                    margin-top: 255px;
                    .input {
                        width: 1104px;
                        height: 44px;
                        left: 0px;
                        top: 32px;
                        background: #ffffff;
                        border: 1.5px solid #d4d4d7;
                        box-sizing: border-box;
                        border-radius: 8px;
                        flex: none;
                        order: 1;
                        flex-grow: 0;
                        margin: 8px 0px;
                        padding-left: 8px;
                    }
                }
            }
            .deviceupdate_input_button {
                margin-left: 35%;
                margin-top: -40px;
                .deviceupdate_input_button_1 {
                    @include knot_1;
                    color: $abc;
                    float: left;
                }
                .deviceupdate_input_button_2 {
                    @include knot;               
                    color: #ffff;    
                    margin-left: 32px;
                }
            }
            
        }
    }
}
