@import "../../scss/index.scss";
.container{
    width: 80%;
    height: calc(79vh + 5px);
    .top_container{
        padding-left: 5%;
        .top_content{
            display: flex;
            margin-right: -10%;
            align-items: center;
            justify-content: space-between;
            .combobox_title{
                font-family: Nunito;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #282739;
                }
                .combobox_content{
                    padding: 10px 0px;
                    .combobox_content_select{
                        width: 220px;
                        height: 44px;
                        background: #FFFFFF;
                        border: 1.5px solid #D4D4D7;
                        box-sizing: border-box;
                        border-radius: 8px;
                    }
                }
        }
    }

}




select{
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 12px;

position: static;
width: 200px;
height: 44px;
left: 0px;
top: 54px;

/* white */

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 2px 0px;
}
/* bottom */
.bottom_container{
    padding: 1% 0% 0% 5%;
    margin-right: -10%;
    
}

.table_device {
    border-collapse: collapse;
    width: 100%;
    background-color: #FFF2E7;
    
}

.table_device td, th {
    border: 1px solid #ddd;
    padding: 18px 12px;
}
table{
    border-radius: 20px;
}
.table_device tr:nth-child(even){background-color: #FFFFFF;}
  
.table_device tr:hover {background-color: #ddd;}
  
.table_device th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background: #FF9138;
    color: white;
}

.red_dot{
    margin-right: 4px;
    color: #E73F3F;
}
.blue_dot{
    margin-right: 4px;
    color: #4277FF;
}
.gray_dot{
    margin-right: 4px;
    color: #7E7D88;
}
/* search */


.search_icon{
    background-color: white;
    color: #FF9138;
    position: absolute;
    left: 92%;
    top: 25.3%;
    margin-right: 20px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* previous and next page */
.nextpage{
    margin-top: 15px;
    float: right;
}
.nextpage >a{
    padding: 6px 12px;
    font-size: 16px;
    line-height: 22px;
}
.page_active{
padding: 6px;

background: #FF7506;
border-radius: 4px;
font-size: 16px;
line-height: 22px;

color: #FFFFFF;
}
.caret_left{
    color: #A9A9B0;
}
.caret_right{
    color: #7E7D88;
}
/* Add device */
.add_device{
    float: right;
    background: #FFF2E7;
    position: absolute;
    width: 80px;
    height: 94px;
    right: 0;
    top: 31%;
}

.total_add_device{
    padding: 10px;
    background-color: #FFF2E7;
}
.add{
    margin:12px 20px 4px 20px;
    padding: 6px;
background: #FF9138;
border-radius: 8px;
color: white;
}
.add_title{
    font-weight: 600;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #FF7506;
}