@import "../../scss/index.scss";
.report {
    display: flex;
    min-height: 100vh;
    .report_left {
    }
    .report_right {
        width: 100%;
        position: relative;
        .report_right_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            margin-top: 29px;
            margin-left: 24px;
            margin-right: 24px;
            margin-bottom: 45px;
            height: 20px;
            .report_right_top_title {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 0px 8px;
                .report_right_top_title_1 {
                    color: #7e7d88;
                }
                .report_right_top_title_2 {
                    margin-left: 15px;
                }
                .report_right_top_title_3 {
                    color: #ff7506;
                    margin-left: 15px;
                }
            }
            .user {
                justify-content: flex-end;
                background-color: #ffff;
            }
        }
        .report_right_content {
            .report_right_content_title {
                .report_right_content_title_1 {
                    font-weight: bold;
                }
            }
        }
        .report_right_bottom {
            padding: 1% 0% 0% 1%;
            .report_right_bottom_table {
                border-collapse: collapse;
                width: 100%;
                background-color: #fff2e7;
                td,
                th {
                    border: 1px solid #ddd;
                    padding: 16px 24px;
                }
                table {
                    border-radius: 20px;
                }
                th {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: left;
                    background: #ff9138;
                    color: white;
                }
            }
            .bottom_title {
                .nextpage {
                    margin-top: 15px;
                    float: right;
                    .caret_left {
                        color: #a9a9b0;
                    }
                    .page_active {
                        padding: 6px;
                        background: #ff7506;
                        border-radius: 4px;
                        font-size: 16px;
                        line-height: 22px;
                        color: #ffffff;
                    }
                }
                a {
                    padding: 6px 12px;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
    .number_right_add {
        align-items: center;
        padding: 10px;
        margin: 10px;
        margin-top: 135px;
        margin-left: 10px;
        justify-content: flex-end;
        color: #ff7506;
    }
}
